body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: "Roboto",sans-serif;
}

.header {
    position: fixed;
    width: 100%;
    padding: 20px 7%;
    background-color: #1DAAE1;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #333;
    text-decoration: none;
    /* font-weight: 600; */
    margin-right: auto;
    font-weight: bold;
}

.nav a {
    text-decoration: none;
    font-size: 17px;
    color: white;
    /* font-weight: 500px; */
    margin-right: 35px;
    font-weight: bold;
    width: 100%;
}

#mode-icon {
    font-size: 24px;
    color: white;
}

.nav a {
    position: relative;
    padding: 10px;
}

.nav a::before {
    content: "";
    position: absolute;
    width: 0%;
    background-color: #333;
    height: 3px;
    bottom: 0;
    right: 0;
    transition: 0.5s;
}

.nav a:hover::before {
    width: 100%;
    left: 0;
}

.home {
    width: 100%;
    height: 100%;
    padding-top: 70px;
}



.text-2 {
    width: 1170px;
    height: 150px;
    padding: 20px 100px;
    text-align: center;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1), 0 3px 4px rgba(0,0,0,0.14), 0 1px 8px rgba(0,0,0,0.12);
    border-radius: 7px;
    margin: -30px auto 0px;
    background-color: #ffffff;
}

.text-2 h1 {
    font-weight: 700px;
    line-height: 50px;
    font-size: 42px;
    margin: 0 0 9px;
    font-weight: bold;
}

.text-2 p {
    width: 750px;
    font-size: 22px;
    line-height: 30px;
    font-family: "PT Serif",serif;
    margin: 0 auto;
}

.text-3 {
    background-image: url(/image/chungtoilamgi:hinh-1.jpeg);
    width: 100%;
    height: 640px;
}

.text-4 {
    padding: 60px 0;
    text-align: center;
}

.text-4 p {
    width: 780px;
    font-size: 19px;
    margin: 0 auto;
    line-height: 31px;
}

#products {
    background-color: whitesmoke;
}

.text1 {
    padding-top: 60px;
    width: 1170px;
    margin: 0 auto;
}

.text3 {
    font-size: 34px;
    text-align: center;
    line-height: 42px;
    font-style: normal;
    padding-bottom: 50px;
}

.text2 img {
    height: 90px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.text4 {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    line-height: 32px;
    text-align: center;
    width: 730px;
    margin: 0 auto;
}

.noidung {
    line-height: 31px;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    width: 770px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
}

.text5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
 
.text10 {
    width: 270px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #1DAAE1;
    margin: 0 auto;
}

.text10 i {
    margin-right: 5px;
}

.text11 {
    width: 270px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #1DAAE1;
    margin: 0 auto;
}

.text11 i {
    margin-right: 5px;
}

.text12 {
    width: 270px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #1DAAE1;
    margin: 0 auto;
}

.text12 i {
    margin-right: 5px;
}

.text13 {
    width: 270px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #1DAAE1;
    margin: 0 auto;
}

.text13 i {
    margin-right: 5px;
}

.text14 {
    width: 270px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #1DAAE1;
    margin: 0 auto;
}

.text14 i {
    margin-right: 5px;
}

.text15 {
    width: 270px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #1DAAE1;
    margin: 0 auto;
}

.text15 i {
    margin-right: 5px;
}

.text-6 {
    padding-top: 60px;
    background-color: #d3dbdf;
}

.text-7 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px
}

.text-20 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-bottom: 60px;
    gap: 30px;
    width: 1170px;
    margin: 0 auto;
}

.text20 {
    width: 270px;
    height: 520px;
    margin: 0;
    background-color: #2159a8; 
    color: white;
    border-radius: 7px;
    position: relative;
}

.text22 {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-top: 20px;
    padding-left: 12px;
    margin-bottom: 16px;
}

.text22 i {
    margin-right: 5px;
}

.text25 {
    font-size: 20px;
    font-weight: normal;
    padding-left: 12px;
}

.text23 {
    padding-left: 12px;
    margin: 8px 0 32px;
    padding-right: 12px;
    font-size: 16px;
    line-height: 31px;
}

.text24 {
    display: flex;
    align-items: center;
    padding: 8px 0 8px 12px;
    font-weight: bold;
    position:absolute;
    font-size: 14px;
    bottom: 8px;
}

.text26 {
    margin-left: 5px;
}

.text-32 {
    text-align: left;
    background-color: #1DAAE1;
    height: 300px;
}

.text-33 {
    padding: 40px 30px 0;
    color: white;
    font-family: "Roboto",sans-serif;
}

.text-33 h2 {
    font-size: 30px;
    font-weight: bold;
}

.text-33 p {
    font-size: 19px;
    margin-top: 5px;
    padding-right: 130px;
    width: 800px;
}

.text-34 {
    padding-top: 50px;
    padding-left: 30px;
    width: 900px;
}

.text-35 {
    position: relative;
    display: flex;
    gap: 25px;
    width: 900px;
}

.text-35 li {   
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.text-35 li:hover{
    width: 200px;
    box-shadow: 0 10px 25px rgba(0,0,0,0);
}

.text-35 li::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50px;
    background-color: white;
    opacity: 0;
    transition: 0.5s;
}

.text-35 li:hover::before {
    opacity: 1;
}

.text-35 li ::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background-color: color;
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
    filter: blur(15px);
}

.text-35 li:hover ::after {
    opacity: 0.5;
}

.text-35 li i{
    font-size: 1.75em !important;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.text-35 li:hover i {
    transform: scale(0);
    font-size: 1.75em;
    transition-delay: 0.25s;
}

.text-35 li span {
    position: absolute;
}

.text-35 li .titulo {
    display: None;
}

li:hover .titulo {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

.text-36 {
    display: flex;
}

.text-37 img {
    width: 540px;
    height: 300px;
    object-fit: cover;
}