body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: "Roboto",sans-serif;
}

.header {
    position: fixed;
    width: auto;
    padding: 20px 7%;
    background-color: #1DAAE1;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    line-height: 37px;
    color: #333;
    text-decoration: none;
    margin-right: 244px;
    font-weight: bold;
}

.nav a {
    text-decoration: none;
    font-size: 17px;
    color: white;
    margin-right: 35px;
    font-weight: bold;
    width: 100%;
}

#mode-icon {
    font-size: 24px;
    color: white;
}

.nav a {
    position: relative;
    padding: 10px;
}

.nav a::before {
    content: "";
    position: absolute;
    width: 0%;
    background-color: #333;
    height: 3px;
    bottom: 0;
    right: 0;
    transition: 0.5s;
}

.nav a:hover::before {
    width: 100%;
    left: 0;
}

.home {
    width: 100%;
    height: 100%;
    padding-top: 70px;
    background-color: whitesmoke;
}

.text-2 {
    width: 970px;
    height: 110px;
    padding: 20px 100px;
    text-align: center;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1), 0 3px 4px rgba(0,0,0,0.14), 0 1px 8px rgba(0,0,0,0.12);
    border-radius: 7px;
    margin: -30px auto 0px;
    background-color: #ffffff;
    z-index: 2;
}

.text-2 h1 {
    font-weight: 700px;
    line-height: 50px;
    font-size: 42px;
    margin: 0 0 9px;
}

.text-2 p {
    font-size: 22px;
    line-height: 30px;
    font-family: "PT Serif",serif;
    margin: 0;
}

.text-3 {
    background-image: url(/image/nhungcauchuyen:hinh-1.jpeg);
    width: 100%;
    height: 640px;
}

.text-4 {
    padding: 60px 0 30px;
}

.text-5 {
    display: flex;
    gap: 30px;
    width: 1170px;
    margin: 0 auto;
}

.text-6 {
    display: flex;
    width: 870px;
    height: 556px;
    text-decoration: none;
    color: #333;
    border-radius: 7px;
    background-color: white;
}

.text-7 {
    object-fit: cover;
}

.text-8 {
    padding: 20px 32px 43px;
}

.text-9 {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 16px;
    height: 20px;
}

.text-9 i {
    margin-right: 5px;
}

.text-10 h5 {
    font-size: 22px;
    line-height: 28px;
    font-weight: normal;
    margin: 0;
}

.text-10 p {
    margin: 8px 0 32px;
    font-size: 16px;
    line-height: 22px;
}

.span-noidung {
    position: absolute;
    display: flex;
    align-items: center;
    /* không dùng bottom được */
    bottom: 8px;
    width: 125px;
    padding: 10px 0 10px 32px;
}

.span-noidung p {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 0 5px;
}

.text-30-4 {
    position: relative;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,0.1), 0 3px 4px 0 rgba(0,0,0,0.14), 0 1px 8px 0 rgba(0,0,0,0.12);
    border-radius: 7px;
}

.text-6:hover {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,0.12), 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12);
    border-radius: 7px;
}

.text-6:hover .text-7 img {
    transform: scale(1.1,1.1);
    transition: 0.8s;
}

.text-7 {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.text-7 img {
    width: 564px;
    height: 556px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    display: block;
    /* max-width: 100%; */
    /* max-height: 100%; */
}

.text-12 {
    height: 556px;
    width: 306px;
}

.text-30 {
    width: 270px;
    height: 556px;
    text-decoration: none;
    color: #333;
    position: relative;
}

.text-30-5 {
    box-shadow: 0 3px 3px -2px rgba(0,0,0,0.1), 0 3px 4px 0 rgba(0,0,0,0.14), 0 1px 8px 0 rgba(0,0,0,0.12);
    border-radius: 7px;
}

.text-30-5:hover {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,0.12), 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12);
    border-radius: 7px;
}

.text-30:hover .text-20 img {
    transform: scale(1.1,1.1);
    transition: 0.8s;
}

.text-20 img {
    width: 270px;
    height: 200px;
}

.text-20 {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.text-20 img {
    width: 270px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    display: block;
    /* max-width: 100%; */
    /* max-height: 100%; */
}

.text-21 {
    background-color: white;
    height: 356px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.text-23 {
    width: 246px;
    padding: 20px 12px 27px;    
}

.noidung {
    margin: 8px 0 32px;
    font-size: 16px;
}

.tieude {
    font-size: 22px;
    line-height: 28px;
    font-weight: normal;
    margin: 0;
}

.span-noidung-1 {
    position: absolute;
    display: flex;
    align-items: center;
    /* không dùng bottom được */
    bottom: 8px;
    width: 125px;
    padding: 10px 0 10px 12px;
}

.span-noidung-1 p {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 0 5px;
}


#products {
    display: flex;
    gap: 30px;
    width: 1170px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.text20 {
    background-color: white;
    width: 270px;
    height: 556px;
    border-radius: 7px;
    position: relative;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,0.1), 0 3px 4px 0 rgba(0,0,0,0.14), 0 1px 8px 0 rgba(0,0,0,0.12);
}

.text20:hover {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,0.12), 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12);
}

.text20:hover .text21 img {
    transform: scale(1.1,1.1);
    transition: 0.8s;
}

.text29 {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.text29 img {
    width: 270px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    display: block;
    /* max-width: 100%; */
    /* max-height: 100%; */
}

.text22 {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-top: 20px;
    padding-left: 12px;
    margin-bottom: 16px;
    height: 20px;
}

.text22-1 {
    margin-left: 5px;
    font-size: 12px;
}

.text25 {
    font-size: 22px;
    font-weight: normal;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0;
}

.text23 {
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 8px;
    line-height: 21px;
}

.text24 {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 10px 12px;
    position: absolute;
    bottom: 8px;
}

.text24 p {
    margin: 0 0 0 5px;
}

.text-50 {
    background-color: #1DAAE1;
    width: 224px;
    text-align: center;
    border-radius: 7px;
    margin: 0 auto 50px;
}

.text-50 a {
    text-decoration: none;

}

.text-50 a h2 {
    font-size: 14px;
    padding: 10px 20px;
    color: white;
    margin: 0;
}

.text-60 h1 {
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
    margin: 0;
}

#products2 {
    display: flex;
    gap: 30px;
    margin: 0 auto;
    width: 1170px;
    padding-bottom: 50px;
}

.text-70 {
    background-color: whitesmoke;
}

.text-70 h1 {
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    padding-top: 60px;
    padding-bottom: 50px;
    width: 715px;
    margin: 0 auto;
    text-align: center;
}

#products3 {
    display: flex;
    gap: 30px;
    margin: 0 auto;
    width: 1170px;
    padding-bottom: 50px;
}

.text-80 h1 {
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
    margin: 0;
}

.text-81 {
    text-align: center;
    padding-bottom: 50px;
}

.text-82 {
    width: 770px;
    font-size: 19px;
    margin: 0 auto;
    font-family: "Noto Sans",sans-serif !important;
    padding-bottom: 50px;
}

.text-82 p {
    margin: 0;
    line-height: 31px;
}

.text-90 {
    background-color: whitesmoke;
}

.text-90 h1 {
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
    margin: 0;
}